In [1]:
from dotenv import load_dotenv
from os import getenv
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

#### SQL Alchemy Section

In [2]:
''' 
    Using SQL Alchemy
'''
# Set up the engine to access the data.
# engine = create_engine("postgresql://rthomas:talisman@localhost:5432/octane")
engine = create_engine("postgresql://postgres:JnsRep45Uaz#MjY3rIVGYTc@octane.csu1yidafpfr.us-east-2.rds.amazonaws.com:5432/postgres")

In [3]:
# Use a SQL query 
sql = """
select * from sector
"""
# with engine.connect() as conn:
#    for row in conn.execute(sql):
#        print(f'The number of rows in the stores table are: {row[0]}')

pd.read_sql_query(sql, engine)

   sector_id                 sector_name    mc_table ndx_name      ndx_ret
0          0                 All Sectors      mc_all      all      all_ret
1          1  Exploration and Production       mc_ep       ep       ep_ret
2          2      Refining and Marketing   mc_refmkt  ref_mkt  ref_mkt_ret
3          3      Equipment and Services    mc_equip    equip    equip_ret
4          4                  Integrated      mc_int      int      int_ret
5          5                Thermal Coal     mc_coal     coal     coal_ret
6          6             Basic Materials  mc_bas_mat  bas_mat  bas_mat_ret
7          7                   Commodity     mc_comm     comm     comm_ret

#### psycopg2 section

In [12]:
load_dotenv()
'''
# local database
user = getenv("LOCAL_USER")
password = getenv("LOCAL_PASSWORD")
server = 'localhost:5432'
dbname = 'octane'

# ElephantSQL database
user = getenv("ELEPHANT_USER")
password = getenv("ELEPHANT_PASSWORD")
server = 'peanut.db.elephantsql.com'
dbname = getenv("ELEPHANT_USER")
'''
# AWS RDS database
user = getenv("AWS_USER")
password = getenv("AWS_PASSWORD")
server = 'octane.csu1yidafpfr.us-east-2.rds.amazonaws.com'
dbname = 'octane'

# open database connection
conn = psycopg2.connect(dbname=dbname, user=user, password=password)
# open database cursor
cur = conn.cursor()

OperationalError: connection to server on socket "/var/run/postgresql/.s.PGSQL.5432" failed: FATAL:  Peer authentication failed for user "postgres"

In [5]:
# execute query
query = ''' 
select p.ticker,
       s.sector_name
from portfolio p, sector s
where s.sector_id = p.sector_id
'''
cur.execute(query)

# get results to list
sector = cur.fetchall()
sector

[('CIVI', 'Exploration and Production'),
 ('CPG', 'Exploration and Production'),
 ('CRK', 'Exploration and Production'),
 ('MGY', 'Exploration and Production'),
 ('MRO', 'Exploration and Production'),
 ('PR', 'Exploration and Production'),
 ('RRC', 'Exploration and Production'),
 ('SM', 'Exploration and Production'),
 ('VET', 'Exploration and Production'),
 ('GPOR', 'Exploration and Production'),
 ('CHRD', 'Exploration and Production'),
 ('OVV', 'Exploration and Production'),
 ('PBF', 'Refining and Marketing'),
 ('VLO', 'Refining and Marketing'),
 ('DINO', 'Refining and Marketing'),
 ('PARR', 'Refining and Marketing'),
 ('PSX', 'Refining and Marketing'),
 ('CVI', 'Refining and Marketing'),
 ('MPC', 'Refining and Marketing'),
 ('TS', 'Equipment and Services'),
 ('LBRT', 'Equipment and Services'),
 ('BP', 'Integrated'),
 ('E', 'Integrated'),
 ('SHEL', 'Integrated'),
 ('TTE', 'Integrated'),
 ('ARLP', 'Thermal Coal'),
 ('BTU', 'Thermal Coal'),
 ('CEIX', 'Thermal Coal'),
 ('ARCH', 'Basic Materials'),
 ('CL=F', 'Commodity'),
 ('BZ=F', 'Commodity')]

In [6]:
# get column names for query result
col_names = [desc[0] for desc in cur.description]
# make dataframe of results with column names
sector_df = pd.DataFrame(sector, columns=col_names)
sector_df

   ticker                 sector_name
0    CIVI  Exploration and Production
1     CPG  Exploration and Production
2     CRK  Exploration and Production
3     MGY  Exploration and Production
4     MRO  Exploration and Production
5      PR  Exploration and Production
6     RRC  Exploration and Production
7      SM  Exploration and Production
8     VET  Exploration and Production
9    GPOR  Exploration and Production
10   CHRD  Exploration and Production
11    OVV  Exploration and Production
12    PBF      Refining and Marketing
13    VLO      Refining and Marketing
14   DINO      Refining and Marketing
15   PARR      Refining and Marketing
16    PSX      Refining and Marketing
17    CVI      Refining and Marketing
18    MPC      Refining and Marketing
19     TS      Equipment and Services
20   LBRT      Equipment and Services
21     BP                  Integrated
22      E                  Integrated
23   SHEL                  Integrated
24    TTE                  Integrated
25   ARLP                Thermal Coal
26    BTU                Thermal Coal
27   CEIX                Thermal Coal
28   ARCH             Basic Materials
29   CL=F                   Commodity
30   BZ=F                   Commodity

In [7]:
# close connection to the database
cur.close()
conn.close()

In [12]:
# to create a table, you must use SQLAlchemy not psycopg2
# Set up the engine to access the data.
load_dotenv()
db_url = getenv("POSTGRES_URL")
engine = create_engine(db_url)

In [13]:
# load dataframe to test table
sector_df.to_sql('test_table', engine, if_exists='replace', index=False)

29